<tr id="contact_<%= contact.id %>">
	<td><%= contact.first_name %></td>
	<td><%= contact.last_name %></td>
	<td><%= contact.title %></td>
	<td><% if contact.image.present? %>
		<%= image_tag contact.image.url(:small_thumb) %>
		<% end %></td>
	<td><% contact.telephones.each do |phone| %>
			<ul>
				<li><%= "#{phone.title} : #{phone.number}" %></li>
			</ul>
		<% end %></td>
	<td><% contact.adresses.each do |adress| %>
		<ul>
			<li><%= "#{adress.title} : #{adress.number}, #{adress.street}, #{adress.zip_code}, #{adress.city}, #{adress.country}" %></li>
		</ul>
	    <% end %></td>
	<td><% contact.tags.each do |tag| %>
		<ul>
			<li><%= tag.title %></li>
		</ul>
	    <% end %></td>
	<td><%= link_to 'Show contact', contact %> | 
	    <%= link_to "Edit contact", edit_contact_path(contact), remote: true %> | 
	    <%= link_to 'Delete contact', contact, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
</tr>
