<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table class="table" id="contacts">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Title</th>
      <th>Image</th>
      <th>Telephone(s)</th>
      <th>Adress(es)</th>
      <th>Tag(s)</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <%= render 'contact_row', contact: contact %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Contact", new_contact_path, remote: true, class: "btn btn-primary" %>

<script>
$(document).ready(function() {
    $('#contacts').DataTable();
} );
</script>