<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Image:</strong>
  <% if @contact.image.present? %>
  <%= image_tag @contact.image.url(:thumb) %>
  <% end %>
</p>

<p>
  <strong>Telephone(s):</strong>
</p>
<ul id="telephones">
<% @contact.telephones.each do |phone| %>
  <%= render 'telephones/telephone_row', phone: phone %>
<% end %>
</ul>
<%= link_to "New telephone", new_contact_telephone_path(@contact), remote: true, class: "btn btn-primary" %>

<p>
  <strong>Adress(es):</strong>
</p>
<ul id="adresses">
<% @contact.adresses.each do |adress| %>
  <%= render 'adresses/adress_row', adress: adress %>
<% end %>
</ul>
<%= link_to "New adress", new_contact_adress_path(@contact), remote: true, class: "btn btn-primary" %>


<p>
  <strong>Tag(s):</strong>
</p>
<ul id="tags">
<% @contact.tags.each do |tag| %>
  <%= render 'tags/tag_row', tag: tag %>
<% end %>
</ul>
<%= link_to "New tag", new_contact_tag_path(@contact), remote: true, class: "btn btn-primary" %>
</p></br></br>

<%= link_to "Edit contact", edit_contact_path(@contact), remote: true %> |
<%= link_to 'Back to contacts', contacts_path %>
