<% if @contact.errors.blank? %>
  $('#contact-modal').modal('hide');
  $("#contact_<%=@contact.id%>").replaceWith('<%= j render "contact_row", contact: @contact %>');
<% else %>
  // TODO: show the errors in the UI
  alert('Algo falló');
<% end %>