<div id="tag-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= params[:action] %> tag</h4>
      </div>
      <% url = if params[:action] == "edit" %>
        <% {:controller => "tags", :action => "update"} %>
      <% elsif params[:action] == "new" %>
        <% contact_tags_path %>
      <% end %>
      <%= form_for @tag, url: url, remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control"%>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>