<% object = if params[:action] == "show" %>
  <% tag %>
<% elsif params[:action] == "create" || params[:action] == "update" %>
  <% @tag %>
<% end %>
<li id="tag_<%= object.id %>"><%= object.title%> | <%= link_to "Edit tag", {:controller => "tags", :action => "edit", :id => object.id, :contact_id => (params[:contact_id] || @contact.id)}, remote: true %> | <%= link_to 'Delete tag', {:controller => "tags", :action => "destroy", :id => object.id, :contact_id => (params[:contact_id] || @contact.id)}, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %>
</li>
