<% if @tag.errors.blank? %>
  $('#tag-modal').modal('hide');
  $("#tag_<%=@tag.id%>").replaceWith('<%= j render "tag_row", tag: @tag %>');
<% else %>
  // TODO: show the errors in the UI
  alert('Algo falló');
<% end %>