<% object = if params[:action] == "show" %>
  <% adress %>
<% elsif params[:action] == "create" || params[:action] == "update" %>
  <% @adress %>
<% end %>
<li id="adress_<%= object.id %>"><%= "#{object.title} : #{object.number} #{object.number_type}, #{object.street}, #{object.zip_code}, #{object.city}, #{object.country}" %> | <%= link_to "Edit adress", {:controller => "adresses", :action => "edit", :id => object.id, :contact_id => (params[:contact_id] || @contact.id)}, remote: true %> | <%= link_to 'Delete adress', {:controller => "adresses", :action => "destroy", :id => object.id, :contact_id => (params[:contact_id] || @contact.id)}, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %>
</li>