<div id="adress-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= params[:action] %> adress</h4>
      </div>
      <% url = if params[:action] == "edit" %>
      <% {:controller => "adresses", :action => "update"} %>
      <% elsif params[:action] == "new" %>
      <% contact_adresses_path %>
      <% end %>
      <%= form_for @adress, url: url, remote: true do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :number %>
          <%= f.number_field :number, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :number_type %>
          <%= f.text_field :number_type, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :street %>
          <%= f.text_field :street, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :zip_code %>
          <%= f.text_field :zip_code, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :country %>
          <%= f.text_field :country, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :apartment %>
          <%= f.text_field :apartment, class: "form-control" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
