<% if @adress.errors.blank? %>
  $('#adress-modal').modal('hide');
  $("#adress_<%=@adress.id%>").replaceWith('<%= j render "adress_row", adress: @adress %>');
<% else %>
  // TODO: show the errors in the UI
  alert('Algo falló');
<% end %>