<% object = if params[:action] == "show" %>
  <% phone %>
<% elsif params[:action] == "create" || params[:action] == "update" %>
  <% @telephone %>
<% end %>
<li id="telephone_<%= object.id %>"><%= "#{object.title} : #{object.number}" %> | <%= link_to "Edit telephone", {:controller => "telephones", :action => "edit", :id => object.id, :contact_id => (params[:contact_id] || @contact.id)}, remote: true %> | <%= link_to 'Delete telephone', {:controller => "telephones", :action => "destroy", :id => object.id, :contact_id => (params[:contact_id] || @contact.id)}, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %>
</li>
