<% if @telephone.errors.blank? %>
  $('#telephone-modal').modal('hide');
  $("#telephones").append('<%= j render "telephone_row", contact: @telephone %>');
<% else %>
  // TODO: show the errors in the UI
  alert('Algo falló');
<% end %>