<% if @telephone.errors.blank? %>
  $('#telephone-modal').modal('hide');
  $("#telephone_<%=@telephone.id%>").replaceWith('<%= j render "telephone_row", telephone: @telephone %>');
<% else %>
  // TODO: show the errors in the UI
  alert('Algo falló');
<% end %>